body{
    background-color: lightgray;
    /* border: 1px solid red; */
}

.header{
    text-align: center;
}

.recipe{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: gray;
    /* border: 1px solid red; */
}